@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@if (Model.Status == "Success")
{
    <div class="alert alert-success" role="alert">Basarili!</div>
}
else if (Model.Status == "Error")
{
    <div class="alert alert-danger" role="alert">Hata!</div>
}

<div class="text-center">
     <p>Web Programlama Projelerini burada bulabilirsiniz.</p>
</div>

@*<form class=form-inline justify-content center mb-6 method="post">
    <input class="form-control" asp-for="Term" type="search" aria-label="Ara" />
    <button class="bt btn-primary">Ara</button>
    </form>*@


<div class="row row-cols-6">
    @foreach (var proje in Model.Projects)
    {
        <div class="card border-primary mb-3" style="max-width: 18rem;">
            <div class="card-header">Takim @proje.id</div>
            <div class="card-body text-primary">
                <h5 class="card-title">@proje.name</h5>
                <p class="card-text">@proje.description</p>
            </div>
            <div class="card-footer">
                <ul class="list-group">

                      @foreach (string member in @proje.members)
                      {
                          <li class="list-group-item">@member</li>
                      }

                  </ul>
            </div>
        </div>
    }
</div>


